
{{!-- info que viene de servidor y se inyecta a MAIN--}}
<div>
    <h1>Lista de Productos</h1>
</div>
<div id="idProduct">
    <h2>{{this.tittle}}</h2>
    <h3>{{this.description}}</h3>
    <p>Precio: ${{this.price}} </p>
    <p>En stock {{this.stock}} unidades</p>
</div>

<div>
    <button class="delete">Eliminar producto</button>
</div>

{{!-- <input type="text" name="" id="chatBox">
<p id="messageLogs"> </p> --}}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>